#container {
    background: #f8f9fa;
    height: 100vh;
    width: 100vw;
    overflow-y: scroll;
}
#editContainer {
    position: relative;
    margin-top: 10em;
}
#page {
    background: white;
    box-shadow: 2px 2px 5px grey;
    position: relative;
}
#page {
    width: 800px;
    height: 1500px;
    margin: auto;
    padding: 5em 3em 3em 3em;
}
#cursorOverlay, #document {
    min-height: 70vh;
}
#document {
    --line-height: 1.3rem;
}

#document:focus, #document:active {
    outline: none;
}
#cursorOverlay {
    position: absolute;
    pointer-events: none;
    top: 0;
    left: calc(50% - 400px);
}
#page:active, #page:focus {
    border: none;
    outline: none;
}
div#topBar {
    padding: 0.2em 2em;
    background: white;
    position: fixed;
    width: 100vw;
    box-shadow: 0 3px 2px grey;
    z-index: 3;
}

div#topBar .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title {
    font-size: 3em;
    margin: 0 0 1rem 0;
}

.cursor {
    height:1em;
    border: 1px solid black;
}

.cursor.other:before {
}
.cursor.other {
    position: absolute;
    z-index: 2;
}
